.ChartsContainer {
  margin: 0px !important;
  background-color: #2a3550;
  border: 1px solid #21293c;
  border-radius: 6px;
  opacity: 1;
}
.pieCharContainer {
  background-color: white;
}
/* .pieCharContainer {
  align-items: flex-start;
  width: 300px;
  opacity: 1;
  margin-left: 100px;
  opacity: 1;
  letter-spacing: 0.9px;
  color: #adb9d8;
  text-transform: uppercase;
} */

svg {
  width: 200px;
  height: 200px;
}
.pieCharContainer p {
  margin: 0px;
}
.chartsNum {
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 0px;
}
.wwchart {
  display: block;
  width: 248px;
  /* height: 400px; */
  background-color: #35415e;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  padding: 10px;
}
