.card canvas {
  width: 200px;
  height: 200px;
}
.card {
  /* width: 500px; */
  /* height: 320px; */
  /* width: 35%; */
  background-color: #35415e;
  margin-right: 10px;
  border-radius: 10px;
  /* color: white; */
}

.chartsP {
  padding-top: 10px;
  padding-left: 10px;

  /* padding: 5px; */
  font: normal normal Avenir;
  letter-spacing: 0.9px;
  color: #adb9d8;
  text-transform: uppercase;
  opacity: 1;
}
.chartsNumb {
  /* font: normal normal 900 25px/34px Avenir; */
  font-family: cursive;
  font-size: 14px;
  letter-spacing: 1px;
  /* color: #ffffff; */
  opacity: 1;
  color: white;
  padding-left: 10px;
  font-weight: bold;
}
