@import "bootstrap/dist/css/bootstrap.min.css";

.bgContainer {
  background-color: #35415e !important;
}
.linksNav {
  color: rgba(173, 185, 216, 1) !important;
  font-size: 1rem;
  margin-left: 10px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.MemberDetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
  align-content: center;
}
.memberNameJob {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  color: white;
}
.memberName {
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 1);
  font-size: 0.9rem;
}
.memberJob {
  font-size: 0.7rem;
  color: rgba(173, 185, 216, 1);
}

.profilePicture {
  width: 30px;
  /* height: 40px; */
  border-radius: 50px;
}

.brandName {
  padding-left: 80px;
}
.leftFixedTabs {
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;

  padding-top: 10px;
  height: 100%;
  background-color: #35415e;
}
.leftTabsFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  /* background-color: #35415e; */
}
.logo {
  padding-top: 5px;
  padding-right: 1px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 22px;
  height: 22px;
  background: #ec4e6e 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  right: 0px;
}
.tabIcons {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.Icons {
  width: 15px;
  height: 15px;
  color: red;
  margin-top: 25px;
}
.HomeIconContainer {
  /* top: 493px; */
  /* left: 34px; */
  width: 20px;
  height: 20px;
  /* UI Properties */
  background: #ec4e6e 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50px;
  text-align: left;
}
.homeIcons {
  width: 14px;
  height: 11px;
  bottom: 0px;
  opacity: 1;
  margin-top: 9px;
}
@media only screen and (max-width: 988px) {
  .links {
    flex-direction: column;
  }
}
